.containerCardDetail {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.pokemonImageContainer {
  border: 1px solid #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.textCenter {
  margin: 20px 20px 20px 100px;
}

.pokemonImageDetail {
  height: 400px;
}

.containerHeightWeight {
  display: flex;
  gap: 5em;
  margin: 1em 0 0 3em;
}

.heightWeight {
  background-color: #fd7d24;
  text-align: center;
  border-width: 0px;
  width: 5rem;
  color: white;
  padding: 8px 16px;
  margin-top: 3px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  font-size: 1em;
}
