.containerCardDetail {
  margin: 24px auto 24px auto;
  width: 95vw;
  border-start-start-radius: 150px;
  border-end-end-radius: 150px;
  border-end-start-radius: 150px;
  border-start-end-radius: 150px;
}
.containLoading {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  padding-top: 5%;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
}
.pokemonImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.textCenter {
  margin: 20px 20px 20px 25px;
}

.back {
  color: red;
}

.pokemonImageDetail {
  height: 400px;
}

.containerHeightWeight {
  display: flex;
  gap: 5em;
  margin: 1em 0 0 3em;
}

.pokemonListDetail {
  margin: "20px 20px 20px 150px";
}

.heightWeight {
  background-color: #fd7d24;
  text-align: center;
  border-width: 0px;
  width: 5rem;
  color: white;
  padding: 8px 16px;
  margin-top: 3px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  font-size: 1em;
}

.containerBackH1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
}
