.containerPaged {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pages {
  /* margin-top: -40px;
    margin-bottom: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 8px 16px;
  background: lightblue;
  border: 3px solid #003060;
  border-radius: 15px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pages:hover {
  background: #003060;
  color: white;
  box-shadow: none;
}

button[disabled] {
  background: rgb(208, 229, 236);
  cursor: no-drop;
}

input {
  height: 25px;
  width: 50px;
  text-align: center;
  padding: 5px 25px;
  border: 1px solid #003060;
  border-radius: 3px;
  color: black;
  font-weight: bold;
}
p {
  color: black;
  font-weight: unset;
  font-size: large;
  font-weight: inherit;
}
