/* Loading Pikachu */
.containerHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 2em auto;
}

.loading {
  position: absolute;
  padding-top: 5%;
  left: 40%;
  width: 10rem;
  height: 10rem;
}
