/* Loading Pikachu */
.containerHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 2em auto;
}

.containLoading {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  padding-top: 5%;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
}

@media (min-width: 768px) {
  .containerHome {
  }
}
