.homeContainer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-content: space-around;
  align-items: center;
  height: 100px;
  padding: 1%;
  background-color: #003060;
  border-radius: 0 0 30px 30px;
}
.createBy {
  display: flex;
  gap: 1em;
  padding: 2%;
  margin: 3em 0 1em 0;
}

.createBy select option {
  padding: 2%;
}

select {
  cursor: pointer;
  box-shadow: none;
  background: #e4f7b4;
  width: auto;
  font-size: 0.9em;
  padding-top: 1em;
  padding-right: 1.26em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
}
